body {
    grid-template-columns: 300px 300px auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

a {
    text-decoration: none; 
}

#header {
    grid-column: 1/4;
    grid-row: 1;
}

#pageNav {
    display: none;
}

#list {
    grid-column: 2;
    grid-row: 2/4;
    max-height: calc(100vh - 110px);
    max-width: 300px;
    overflow: auto;
    padding: 0px;
}

#list > a {
    color: blue;
    cursor: pointer;
    display: block;
}

#content {
    grid-column: 3;
    grid-row: 2/4;
}