/* Character Sheet */

.characterSheet {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background-color: white;
	border: 1px solid black;
	padding: 10px;
	overflow: auto;
	z-index: 10;
}

.characterSheet h3 {
	border-bottom: 1px solid black;
}

.level3 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.level3 table {
	margin-top: 10px;
	margin-bottom: 10px;
}

.level3 p:first-of-type {
	display: inline;
}

/* Creature Sheet */

.draggableSheet {
	position: fixed;
	top: 10px;
	left: 10px;
	height: auto;
	max-height: 90%;
	width: 400px;
	background-color: ivory;
	border: 1px solid black;
	padding: 10px;
	overflow: auto;
	z-index: 99;
}

.draggableSheet p:first-of-type {
	display: inline;
}

.draggableSheet p + p {
	text-indent: 1.5em;
}

/* Spell Sheet */

.spellSheet {
	position: fixed;
	top: 10px;
	left: 10px;
	height: auto;
	max-height: 97%;
	width: 400px;
	background-color: ivory;
	border: 1px solid black;
	z-index: 99;
}

.spellSheet > #header {
	padding: 10px;
}

.spellSheet > #header h3 {
	margin: 0px;
}

.spellSheet > #stats {
	padding: 10px;
}

.spellSheet > #content {
	height: 500px;
	overflow: auto;
	padding: 10px;
}

.spellSheet > #footer {
	padding: 10px;
}

/* Item Sheet */

#itemDesc {
	display: none;
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background: ivory;
	width: 500px;
	overflow: auto;
	border-left: 1px solid black;
}

#itemDesc > #header {
	padding: 10px;
}

#itemDesc > #header h3 {
	margin: 0px;
}

#itemDesc > #content {
	padding: 10px;
}

#itemDesc > #footer {
	padding: 10px;
}



/* General */

body {
	font-family: Helvetica;
	font-size: 1em;
}

table {
	text-align: left;
	border-collapse: collapse;
}

table[class="statBlock"] {
	width: 100%;
	border: none;
}

th, td {
	padding-left: 5px;
	padding-right: 5px;
}

td {
	vertical-align: top;
}

a {
	text-decoration: none;
}

#creatureList, #spellList, #pcList {
	width: 100%
}

.property div {
	margin-top: 10px;
	margin-bottom: 10px;
}

.property h3 {
	/* padding-bottom: 10px; */
	border-bottom: 1px solid black;
}

.subProperty {
	padding-left: 1.5em;
}

.spellsBlock div{
	margin: 0px;
}

.title {
	margin: 0px;
	padding: 0px;
}

.closeButton {
	position: absolute;
	right: 10px;
	top: 10px;
}

.padding {
	padding-top: 5px;
	padding-bottom: 5px;
}

.statBlock {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}