body {
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: rgb(32, 32, 32);
    }

    a {
        color: rgb(78, 78, 216);
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: black;
        background-color: white;
    }
}