body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
    height: calc(100vh - 16px);
    width: calc(100vw - 16px);
}

#subList {
    grid-column: 1;
    grid-row: 2;
    overflow: auto;
    z-index: 1;
    background-color: inherit;
}

#classList {
    grid-column: 1;
    grid-row: 2;
    overflow: auto;
    z-index: 10;
    background-color: inherit;
}

#classList a, #subList a {
    display: block;
}

#content {
    grid-column: 2;
    grid-row: 2;
    overflow: auto;
}

#content table {
    width: 100%;
}